.navbar-wrapper {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--dull-blue);
    padding: 1rem;
    align-items: center;
    background-color: var(--dull-blue);
    color: white;

}

.logo {
    font-size: xx-large;
    letter-spacing: 15px;
}

.search {
    flex-basis: 65%;
    position: relative;
}

.search input {
    width: 100%;
    height: 25px;
    padding: 10px;
    background-color: var(--light-prime-gray);
    border: none;
    border-radius: 5px;
    color: white;
}

.result-list{
    position:absolute;
    background-color: white;
    width: 100%;
}

.result-list > .result{
    color: black;
    border-bottom: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: medium;
}

.visible{
    display: block;
}

.not-visible{
    display: none;
}